
#popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7); 
  justify-content: center;
  display: flex;
  z-index: 1000;
  align-items: center;
}

.popup-content {
  position: relative; 
  width: 500px;
  background-color: rgb(240, 238, 238);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 4px 10px rgba(45, 53, 213, 0.2);
  
}

.popup-left img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.popup-right {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup-right .h1 {
  font-size: 29px;
  margin-bottom: 10px;
  color: #131010;
  text-align: center;
  font-weight: bolder;
}

.popup-right .h2 {
  font-size: 18px;
  color: #261d1d;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

#emailForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#popup-email {
  padding: 10px;
  width: 80%;
  border: 1px solid #bbbbbb;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 16px;
}

.signup-btn {
  width: 80%;
  padding: 10px;
  background-color: #0b42e9;
  color: aliceblue;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bolder;
}

.terms {
 color: #0e0a0a;
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
}

.terms a {
  color: #1278d8;
  text-decoration: none;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  font-weight: bolder;
  cursor: pointer;
  color: #000000;
  z-index: 1001; 
}





