.hamburger-icon {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 20px;
  height: 30px;
  position: fixed;
  left: 20px;
  top: 20px;
  z-index: 1000;
}

.hamburger-icon .bar {
  height: 3px;
  background-color: white;
  width: 20px;
  margin: 3px 0;
}
  
.menu-container {
    width: 250px; 
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    flex-direction: column;
  }
  
  .menu-header {
    background-color: #468ef9;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  height: 200px; 
  position: relative;
  }
 
  
  .menu-items li a {
    display: flex;
    align-items: center; 
    color: black; 
    width: 100%; 
  
  
  }

  .menu-items li a svg {
    margin-right: 10px;
  }
  .profile-icon {
    border-radius: 50%;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 5px;
    width: 50px;
    height: 50px;
    
  }
  
  .profile-info h3 {

    margin-top: auto;
    margin-left: 0px;
    padding: 5px;
    text-align: center;
  }
  
  .profile-info p {
    margin-top: auto;
    padding: 0px;
    text-align: center;
  }
  
  
  .menu-items {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
  }
  
  .menu-items li {
    padding: 15px 20px;
    font-size: 18px;
    display: flex;
    align-items: center;
  }
  
  .menu-items li span {
    margin-right: 10px;
  }
 
  .menu-footer {
    margin-top: auto;
    padding: 20px;
    text-align: center;
  }
  
  .privacy-link {
    color: #468ef9;
    text-decoration: none;
  }
  
  .app-version {
    font-size: 12px;
    color: #888;
  }
  