@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    padding: 0;
    margin: 0;
    background-image: url('../assets/mixbg.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw; 
    overflow: hidden; 
    position: relative; 
}