@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    padding: 0;
    margin: 0;
  
}

::-webkit-scrollbar {
    width: 5px; 
    height: 12px; 
}

::-webkit-scrollbar-track {
    background: #A3C4E0; 
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
    background: #3591f3; 
}
::-webkit-scrollbar-thumb {
    background: #3591f3; 
    border-radius: 12px; 
}
