@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    padding: 0;
    margin: 0;
    
}
.element:hover:before, 
.element:hover:after {
    --tw-content: "Hovered!";
    /* Add your desired hover styles here */
    color: red;
    content: var(--tw-content);
    background-color: yellow;
}